.main-landing{
  height: 75rem;
}

.landing-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
}

.landing-header{
  margin-top: 2.7rem;
}

.info-section{
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.info-title{
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 2rem;

}

.main-info{
  line-height: 1.5;
}

.landing-sales{
  
  height: 100%;
  margin-top: 5rem;
}

.landing-sales-title{
  text-align: center;
  font-size: 2rem;
}

.sales-card{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.sales-btn{
  text-align: center;
}

.sales-btn button{
  background-color: #df5e18; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}