.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 400px;
  padding: .5rem;
  border-bottom: 1px solid gold;
  position: relative;
}

.card img{
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  filter: brightness(55%);
}

.container {
  padding: 2px 16px;
}

.container-click{
  display: none;
}

.card:hover .container-click{
  display: block;
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 2rem;
  color: white;
}


.card-sections{
  margin-top: 1.5rem;
  line-height: 2;
  display: flex;
}

.first-section{
  flex: 1;
  margin-right: 3rem;
}

.second-section{
  flex: 1;
}

.third-section{
  margin: 0 auto;
}

@media only screen and (max-width: 795px) {

  .card{
    width: 150px;
    height: 200px;
    margin: 15px;
  }

  .container{
    padding: 1px 8px;
  }

  .first-section{
    display: none;
  }
  .second-section{
    display: none;
  }

  .third-section {
    display: none;
  }
}