.footer{
  display: flex;
  height: 40vh;
  background-color: #f06317;

}

.about {
  flex: 1;
  padding: 1rem;
  line-height: 1.5;
}

.contact{
  flex: 1;
  padding: 1rem;
  line-height: 1.5;
}

.contact label{
  margin-right: .2rem;
}

.searchBar{
  flex: 1;
  padding: 1rem;
}

.searchBar input{
  width: 20rem;
  height: 2rem;
  border-radius: 13px;
  outline: none;
  border: none;
}

.first{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

/* small screen sizes */
@media only screen and (max-width: 795px) {
  .footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f06317;
  }

  .searchBar{
     order: -1;
  }

  .searchBar input{
    width: 10rem;
  }

  
}


