.bar-titles{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: #eee;
}

.bar-titles li{
  margin-bottom: 1rem;
  padding: 1rem;
  list-style: none;
}

.icon{
  flex: 2;
}

@media only screen and (max-width: 795px) {
  .bar-titles{
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .bar-titles li{
    padding: 1%;
  }
}